name: Publish

on:
  workflow_call:
    inputs:
      release_tag:
        description: "Existing release tag to publish"
        required: true
        type: string

  workflow_dispatch:
    inputs:
      release_tag:
        description: "Existing release tag to publish"
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: refs/tags/${{ inputs.release_tag }}
      - name: Validate Tag
        run: gh release view "${{ inputs.release_tag }}"
      - name: Download Release Assets
        run: gh release download "${{ inputs.release_tag }}"
